<div class="container">
    <div *ngIf="spinneri; else elseBlock">
      <div class="row">
        <div class="col-md-12 text-center">
           <img src="../../assets/loader.gif">
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
  
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        
        <br>
        <div class="card">
            <div class="card-body scrolllength">
                <table class="table">
                    <thead class="cthead">
                      <tr>
                        <th>ID</th>
                        <th>Employee Name</th>
                        <th>Operation</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let dataEmployee of employeeData">
                      <tr *ngFor="let dataEmployeelis of dataEmployee">
                        <td>{{dataEmployeelis.id}}</td>
                        <td>{{dataEmployeelis.employee_name}}</td>
                        <td>
                            <button type="button"  (click)="sendingEmployeeOb(dataEmployeelis)" class="info">Profile</button>&nbsp;&nbsp;
                            <button type="button" class="delete" (click)="deletethisid(dataEmployeelis.id)">X</button>
                        </td>
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
    <div class="col-md-1"></div>
  </div>
    </ng-template>
</div>




