<div class="container">
    <div *ngIf="spinneri; else elseBlock">
      
        <app-loader></app-loader>
    </div>
    <ng-template #elseBlock>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
  
            
                <div class="container">
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Update Employee Details</h4>
                            <button type="button" class="close"  data-dismiss="modal">&times;</button>
                          </div>
                          <form [formGroup]="updateEmployee" (ngSubmit)="updateData(updateEmployee)">
                          <!-- Modal body -->
                          <div *ngIf="!imgup; else elsemloader">
      
                              <app-loader></app-loader>
                              <span class="text-center loaderstatus">Please Wait Data Uploading...</span>
                            </div> 
                          <!-- <img src="../../assets/updateloader.gif" [hidden]="imgup" class="text-center">
                          <span [hidden]="imgup" class="upstatus">{{uploadingStatusText}}</span>
                          <br>
                          <span [hidden]="fupload" class="upstatus1">{{uploadingStatusText}}</span> -->
                          <ng-template #elsemloader>
                          <div class="modal-body" [hidden]="updation">
                              <table class="ctable">
                                    <tr>
                                      
                                        <td colspan="2">
                                            <div class="form-group">
                                              <label>Name</label>
                                          <input type="name"  class="inputfileds"
                                          placeholder="Enter Employee Name"
                                          
                                          formControlName="uname" >
                                        </div>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{namestatus}}</td>
                                    </tr>
                                    <tr>
                                        
                                        <td>
                                            <label>Age</label>
                                            <div class="form-group">
                                          <input type="number" 
                                          placeholder="Enter Employee Age"
                                          formControlName="uage"
                                          class="inputfileds">
                                        </div>
                                        </td> 
                                       
                                       
                                          <td>
                                              <label>Salary</label>
                                              <div class="form-group">
                                          <input type="number" class="inputfileds"
                                          formControlName="usalary"
                                          placeholder="Enter Employee Salary">
                                        </div>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>{{agestatus}}</td>
                                        <td>{{salarystatus}}</td>
                                    </tr>
                              
                                </table>
                          </div>
                        </ng-template>
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="submit" class="info" [hidden]="updation" [disabled]="!updateEmployee.valid">Update</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    
                  </div>
            
  
            
            <br>
            <div class="card">
                <div class="card-body">
                    <div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th  colspan="3">Employee Profile
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="info" data-toggle="modal"
                                 data-target="#myModal1" (click) = "updateeUvalue()" >Update</button>&nbsp;&nbsp;
                                
                            </th>
                          </tr>
                        </thead>
                          <tr>
                              <td>Employee Name </td> 
                              <td>:</td>
                              <td>{{ResultEmployeeDetails.employee_name}}</td>
                          </tr>
                          <tr>
                              <td>Employee Salary </td> 
                              <td>:</td>
                              <td>{{ResultEmployeeDetails.employee_salary}}</td>
                          </tr>
                          <tr>
                              <td>Employee Age </td> 
                              <td>:</td>
                              <td>{{ResultEmployeeDetails.employee_age}}</td>
                          </tr>
                        
                        <tbody>
                          
                        </tbody>
                      </table>
                </div>
                
              </div>
              </div>
        </div>
        </div>
    </div>
  </ng-template>
</div>